.wd-100p {
  width: 100%;
  vertical-align: middle;
  
}
.mg-b-5 {
margin-bottom: 5px;
}
.tx-center {
text-align: center;
}
.alert-success {
color: #085f2e;
background-color: #cff1de;
border-color: #bcebd1;
}
.alert {
position: relative;
padding: 0.75rem 1.25rem;
margin-bottom: 1rem;
border: 1px solid transparent;
border-radius: 0.25rem;
}
.form-group {
margin-bottom: 1rem;
margin-bottom: 20px;
}
.d-flex {
display: flex !important;
}
.justify-content-between {
justify-content: space-between !important;
}
.mg-b-0-f {
margin-bottom: 0px !important;
}

.tx-light {
font-weight: 300;
}
.tx-13 {
font-size: 13px;
}
.tx-white {
color: #fff;
}
.tx-13 {
font-size: 13px;
}
.tx-bold {
font-weight: 700;
}
.tx-16 {
font-size: 16px;
}
.mg-b-10 {
margin-bottom: 10px;
}
